<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=BERTHA\SQLEXPRESS;Database=faqIdsignage;Trusted_Connection=True" name="faqIdsignage" providerName="System.Data.SqlClient" />
        <add connectionString="server=localhost;database=&quot;faq idsignage&quot;;Uid=jeroen" name="faq idsignage" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
